/CatTest.xcodeproj/xcuserdata/daniilshlapak.xcuserdatad/xcschemes/xcschememanagement.plist
/CatTest.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/CatTest.xcodeproj/project.xcworkspace/xcuserdata/daniilshlapak.xcuserdatad/UserInterfaceState.xcuserstate
/CatTest.xcodeproj/project.xcworkspace/contents.xcworkspacedata
